<br>

<div class="row">
  <div class="col-sm-12">
    <!-- <p>You Died {{playerName}}!</p> -->
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <br><button style="width: 100px" ng-click="playerReset()">Reset</button>
  </div>
  <div class="col-sm-2">
    <br><button style="width: 100px" ng-click="playerDelete()">Delete</button>
  </div>
</div>

<br>

<div class="row combatlog">
  <div class="col-sm-2">
    <img class="img-fluid centeredimg" src="img/char/warrior/faceset.png">
  </div>
  <div class="col-sm-7">
    <p>Guess I'll die</p>
  </div>
  <div class="col-sm-3">
    <br>
    <div>
      <button class="btn btn-light disabled" style="width: 100px" ng-click="toShop();">Shop</button>
    </div>
  </div>
</div>