@charset "utf-8";

@font-face {
   font-family: pixeledenglishfont;
   src: url(pixeledenglishfont.ttf);
}

.container {
    background-color: #333333;
    color: #ffffff;
}

.healthbars {
    background-color: #000000;
    padding-bottom: 10px;
}

.header, .footer{
    background-color: #bfbfbf;
    color: #000000;
    text-align: center;
}

.combatlog {
    background-color: #000000;
}

.centered {
    text-align: center;
}

.centeredimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.spritecontainer {
    background: url('../img/backgrounds/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25vw;
}

.spritecontainer img {
    width: 15vw;
    height: auto;
    overflow: hidden;
    margin: -50px;
    transform: scaleX(-1);
}

#playerimage {
    position: absolute;
    left: 20%;
    margin-top: 5vw;
}

#enemyimage {
    position: absolute;
    right: 20%;
    margin-top: 6vw;
}

.statbar {
    margin-bottom: 10px;
}

h1, p {
    margin-bottom: 0;
}

h1 {
    font-family: pixeledenglishfont, Calibri, Arial, Helvetica, sans-serif;
    font-size: 5vw;
}

p, button, td {
    font-family: pixeledenglishfont, Calibri, Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.progress {
    height: 35px;
}

.progress p{
    padding-top: 5px;
}

.modal-content {
    background-color: #000000;
}

.hud {
    width: 75px;
    border-style: solid;
    border-width: 3px;
    border-color: #f4eb42;
    border-radius: 2px;
    margin-right: 15px;
    margin-top: 15px;
}

.hudtext {
    display: inline;
}

.pointer:hover {
    cursor:pointer;
}

.arrow {
    width: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.stats {
    margin-bottom: 0px;
}

.stats td, .stats th {
    border: none;
}